@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Thin scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #7a8697; border-radius: 2px; }
::-webkit-scrollbar-thumb:hover { background: #6B7280; }
